/********** Global Styling **********/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
  font-family: monospace;
  text-align: center;
}

.result p,
h3 {
  color: #ffffff;
}

.hidden {
  display: none;
}

#results-list {
  column-count: 4;
  column-width: 325px;
}

.result {
  position: relative;
  margin: 0px 15px 30px 15px;
  list-style: none;
  transform: translateX(-5px);
}

#results-nav {
  padding: 30px 10px 80px 10px;
}

.photo,
.video,
.waveform {
  width: 100%;
  display: block;
  border: 5px solid #e7e7e7;
}

.links-div {
  overflow: hidden;
}

.user-link,
.audio {
  float: left;
}

.dl-link {
  float: right;
}

.user-link,
.audio {
  transform: translateX(12px) translateY(-10px);
}

.dl-link {
  transform: translateX(-12px) translateY(-10px);
}

.audio-name {
  position: absolute;
  top: 8px;
  left: 10px;
}

video.video {
  background-size: cover;
  background-position: center;
}

.audio {
  width: 80%;
}

#results > h2 {
  margin-bottom: 15px;
}

#search-stuff {
  width: max-content;
  margin: 30px auto 55px auto;
  transform: translateX(41px);
}

#js-search-input {
  position: relative;
  border: 3px #707eff solid;
  background-color: #e7e7e7;
  color: #111111;
  font-size: 16px;
  max-width: 300px;
}

#js-search-button {
  position: absolute;
  width: 15px;
  color: #111111;
  border: 3px solid #e7e7e7;
  background-color: #e7e7e7;
  padding: 11px 13px 11px 17px;
  font-size: 16px;
  cursor: pointer;
  transform: translateX(-54px) translateY(3px);
}

#js-search-button:hover {
  color: #f7f7f7;
  border-color: #707eff;
  background-color: #707eff;
}

#js-media-type {
  position: absolute;
  color: #111111;
  border: 3px solid #707eff;
  background-color: #e7e7e7;
  padding: 11px 15px 11px 15px;
  font-size: 16px;
  cursor: pointer;
  transform: translateX(-83px) translateY(0px);
}

#js-media-type:hover {
  color: #f7f7f7;
  border-color: #707eff;
  background-color: #707eff;
}

.logo-title-post-land {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60px;
  margin: 15px 5px 0 5px;
}

.h1 {
  color: #238042;
  font-size: 22px;
  margin: 12px 5px 0 5px;
}

/***** Link Styling *****/

a:link {
  color: #31b55d;
}

a:hover {
  color: #4dda7c;
}

/********** Landing Page **********/

.landing-body {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.landing-logo {
  width: 80px;
  margin-top: 10px;
}

.landing-h1 {
  color: #238042;
  font-size: 22px;
  margin: 8px 0;
}

#landing-text {
  margin: 10px auto;
  max-width: 950px;
}

.landing-h2 {
  color: #31b55d;
  font-size: 24px;
  margin: 5px 0 15px 0;
}

.landing-p {
  color: #111111;
  font-size: 16px;
  margin: 10px;
}

.landing-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transform: translateX(12px);
}

.landing-li {
  list-style-image: url(images/check.png);
  color: #707eff;
  font-size: 16px;
  margin: 0 5px 25px 5px;
}

.landing-p2 {
  color: #111111;
  font-size: 14px;
  margin: 10px;
}

/********** Mobile Styling **********/

.container {
  width: 95%;
  margin: auto;
}

p {
  font-size: 16px;
}

.dl-image {
  width: 26px;
}

.links-div {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: calc(100% - 10px);
  background: linear-gradient(
    #00000000,
    #00000000,
    #00000000,
    #00000000,
    #000000e5
  );
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.play,
.pause {
  position: absolute;
  top: calc(50% + 5px);
  left: calc(50% + 5px);
  width: 60px;
  transform: translate(-50%, -50%);
}

#results-nav a {
  margin: 5px 20px;
  font-size: 18px;
}

#js-search-input {
  padding: 12px 6px 12px 20px;
}

/********** Desktop Styling **********/

@media (min-width: 850px) {
  .container {
    width: 80%;
  }

  p {
    font-size: 12px;
  }

  .links-div {
    opacity: 0;
    transition: opacity 0.25s;
  }

  .links-div:hover {
    opacity: 1;
  }

  .dl-image {
    width: 20px;
  }

  .play,
  .pause {
    display: none;
  }

  #results-nav a {
    margin: 5px 25px;
    font-size: 14px;
  }

  #js-search-input {
    padding: 12px 85px 12px 20px;
  }

  .logo-title-post-land {
    flex-direction: row;
  }

  .landing-logo {
    width: 90px;
  }

  .logo {
    width: 60px;
    margin: 35px 5px 0 5px;
  }

  .h1 {
    margin: 35px 9px 0 9px;
  }
}
